/*measurement reminders:
px = pixels (try not to use this though). absolute unit.

rem = REM is relative to the root (HTML) font size, so if you wish to scale the element’s size based on the root size, no matter what the parent size is, use REM.

Em = EM is relative to the parent element’s font size, so if you wish to scale the element’s size based on its parent’s size, use EM.

vw = Veiwport width, and is auto in %. like 10 = 10% 

vh = Veiwport height

*/
*{
    box-sizing: border-box;
    }
.mainNav{
    z-index: 2;
    font-size: .8em;
    max-width: 100vw;
    display: block;
}
.mainNav ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0;
        place-items: center;
        list-style: none;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
.mainNav ul li{
    display: inline;

}



    .background-video-wrapper {
        color: #fff;
        background: #000;
        text-align: center;
        position: relative;
        video {
          opacity:.5;
          background: #000;
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
        .slogan {
          position:relative;
          z-index: 1;
          display: inline-block;
          margin: 5rem 4rem;
        }
        .slogan h1 {
            position: relative;
            left: 0; 
            top: 0; 
            margin: 0;
            padding: 0; 
            text-align: left; 
          }
      }
      