/*Dining*/

.dining-section {
    padding: 2rem;
    background-color: #F1F0EE;
    font-family: 'Joan', serif;
  }
  
  .dining-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  .dining-container.alt {
    flex-direction: row-reverse;
    background-color: #D8CAB0;
  }
  
  .dining-text {
    flex: 1;
    color: #191B28;
    h3 {
    font-family: 'Aboreto', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
  }
  
  
  .dining-image {
    flex: 1;
    img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  }
  
  /* Other Dining Section */
  .other-dining {
    background-color: #323645;
    color: #F1F0EE;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
  }
  
  .other-dining-text {
    flex: 2;
  }
  
  .other-dining-image {
    flex: 1;
  }
  
  .other-dining-image img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  /*Media query*/
  @media (max-width: 420px) {
.dining-container {
    flex-direction: column;
}
.dining-container.alt{
    flex-direction: column;
}
.dining-text {
padding: 1em;
}
.dining-image,
  .other-dining-image {
    width: 100%;
  }

  .other-dining {
    flex-direction: column;
    text-align: center;
  }
  }